.container {
  max-width: 960px;
}
/*
 * Font for logo 
 */
 @font-face {font-family: "Hanley Pro Sans";
  src: url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.woff2") format("woff2"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.woff") format("woff"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("http://db.onlinewebfonts.com/t/0f26b3e18150776f5ced203524ea7573.svg#Hanley Pro Sans") format("svg"); /* iOS 4.1- */
}
 .logo-font {
  font-family: "Hanley Pro Sans";
  color:#fff;
  text-decoration: none;
  font-size: 1.5rem;
 }

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}



.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.par-size {
  font-size: 1.2rem;
}
.white-text {
  color:#fff !important; 
  text-decoration: none;
}
/*
 * OVERRIDE - "Lets Talk"
 */
.btn-orange {
  /* --bs-btn-color: #ec7211;
  --bs-btn-hover-bg:#ff7300;
  --bs-btn-hover-border-color:#ff7300;
  --bs-btn-focus-shadow-rgb:108,117,125;
  --bs-btn-active-color:#fff;
  --bs-btn-active-bg:#ec7211;
  --bs-btn-active-border-color:#ec7211; */
  --bs-btn-bg: #ec7211;
  --bs-btn-hover-bg:#ff7300;
  
}

.bg-ltgrey {
  background-color: #f5f5f5;
}
.bg-grey {
  background-color: #e5e5e5;
}
.btn-orange-tint {
  --bs-btn-bg: #b3540b;
  --bs-btn-hover-bg: #d35e00;
}

.bg-laptop {
background-image: url("./images/laptop.jpg");
}

.bg-cafe {
  background-image: url("./images/cafe_darker.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(100%);
}

.bg-chicagoSkyline {
  background-image: url("./images/chicagoSkylineSunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*filter: brightness(50%);*/
  height:auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.banner-content {
  position: relative;
  z-index: 1;
  color: #fff; /* Set the desired text color */
  padding: 20px;
}

.bg-responsive {
  background-image: url("./images/responsiveWebDesign.png");
  background-size:85%;
  background-repeat: no-repeat;
  background-position: center;

}

.bg-searchOptimized {
  background-image: url("./images/searchEngineOptimization.png");
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-emailMarketing {
  background-image: url("./images/emailMarketing.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  height:90vh;
  display: flex;
  align-items: center;
}
.banner-content {
  text-align: center;
  color: #fff;
}
.service-cards {
  display:inline-block;
  padding: 20px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
.resize90p {
  width:90%;
  height: auto;
  margin-right: 5%;
  
}

.split {
  
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
}
.left {
  left:0;
  background-color: #8e8e8e;
}
.right {
  right: 0;
  background-color: #ec7211;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  } 
}